.frame{
    display:flex; /*水平對齊 : 讓項目得以水平排列(而不會被div換行)*/
}

.left{
    /*background-color: #4e6fdb;*/
    flex:none; /*固定配置*/
    /*width:400px;*/ 
    width:20%;
}

.right{
    display:flex; 
    justify-content:flex-end; /* 水平對齊 放置右側*/
    /*background-color:turquoise;*/
    flex:auto; /*自動把剩下空間填滿:建議使用此/
    /*width:50%;*/
    font-size: 15px;
}

.item{
    /*background-color: rgb(236, 158, 158);*/
    flex:none; 
    width:100px; /*item框框寬度*/
    margin-right:10px; /*項目後多一個空間*/
    text-align:center; /*自體置中*/
}

.welcome{
    display:flex;
    justify-content:center; /* 水平對齊 放置右側*/
    align-items:center;
    height:50px;
    background-color: darkkhaki;
}

.text{
    width:300px;
    height:40px;
    font-size:30px;
    font-weight:bold;
    text-align:center;
}