
  div,
  X {
    text-align: left;
    color: rgb(128, 62, 0);
    margin-left: 10pt;
    background: rgb(231, 198, 89);
    font-size: 12pt;
    font-weight: 900;
    width: 200px;
  }


.title {
  text-align: left;
  color: rgb(34, 0, 128);
  margin-left: 160pt;
  background: rgb(255, 255, 255);
  font-size: 20pt;
  font-weight: 900;
  width: 500px;
}

.title2 {
  text-align: left;
  color: rgb(128, 62, 0);
  margin-left: 10pt;
  font-size: 16pt;
  font-weight: 900;
  width: 80px;
}

.box {
  border: 1px solid #000000;
  width: 300px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  color: rgb(128, 62, 0);
  margin-left: 10pt;
  background: rgb(231, 198, 89);
  font-size: 12pt;
  font-weight: 900;
}

#login {
    width: 500px;
  }

#login2 {
  width: 500px;
}

#login3 {
  width: 500px;
}

#login4 {
  width: 500px;
}

#login5 {
  width: 500px;
}

#login6 {
  width: 500px;
}

  #open {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  #open1 {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  #open2 {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  #open3 {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  #open4 {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  #open5 {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  #open6 {
    margin: 0;
    cursor: pointer;
    background: rgb(185, 170, 224);
    color: black;
    padding: 5px;
  }

  form {
    display: none;
    padding: 3px;
    border: 1px solid black;
  }


