<!-- Link : https://wcsodw1.github.io/Wehelp_Website_Development/templates/Cellphone_Layout.html 
    # 排版 : 應用在手機的範例 :
    重點1 : 如何應付(處理)不同螢幕解析度問題(1024, 1366, 1920)
-> Solution : 通常以解析度最小的尺寸寬度為決定寬度的設定(ex:1000), 因為其他Size並不影響
    重點2 : 如何讓內容左右並排。
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </meta>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title> TypeSetting Template </title>
    <!---->
    <link rel="stylesheet" type="text/css" href="../css/css_selector.css" />
    <link rel="stylesheet" type="text/css" href="../css/animation.css" />
    <script type="text/javascript">
        window.onload = function () {
            var colorChange = document.getElementById("colorChange");
            colorChange.addEventListener("mouseover", function () {
                this.style.opacity = 1; //淡入
            });
            colorChange.addEventListener("mouseout", function () {
                this.style.opacity = 0.7; //淡出
            });
        }

    </script>
</head>

<body style="margin:0px; background-color:#eeeeee">
    <!-- 
        # A.無邊際頂部 : <body style="margin:0px;">
        # B.Body背景底部顏色
        # C.
    -->
    <div class="top">
        <div class="colorChange" id="colorChange">


            David's Self-Introduction
        </div>
    </div>

    <div class="content">
        <div class="box">
            <div class="effect">
                <div class="title">Basic Information</div>
            </div>
            <div>* Electronic Engineering Department</div>
            <div>* Software Engineer-AI & CV</div>
            <div>* Backend-Engineer - Python & AWS Server </div>
        </div>
        <div class="box">
            <div class="effect">
                <div class="title">
                    Interesting & Hobby
                </div>
            </div>
            <div>* Basketball</div>
            <div>* Piano</div>
            <div>* Scuba-Diving</div>
            <div>* Table Game</div>
        </div>
        <div class="box2">
            <div class="effect">
                <div class="title">
                    Connect with me
                </div>
            </div>
            <div>* Mail : wcsocw1@gmail.com</div>
            <div><a href="https://github.com/wcsodw1">Github</a></div>
            <div><a href="https://www.linkedin.com/in/davidswlin-50963078/">LinkedIn</a></div>
        </div>

        <h3></h3>
</body>

</html>